@model IEnumerable<rssreader.Models.Article>

@{
    ViewData["Title"] = "All Articles";
}

<h1>All Articles (@Model.Count())</h1>

<form asp-controller="Articles" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search <input type="text" id="search" name="SearchString" value="@ViewData["CurrentFilter"]" />

            Date From <input type="date" id="fromDate" name="FromDate" value="@ViewData["FromDate"]"
                             max="@DateTime.Today.ToString("yyyy-MM-dd")" />

            Date To <input type="date" id="toDate" name="ToDate" value="@ViewData["ToDate"]"
                           max="@DateTime.Today.ToString("yyyy-MM-dd")" />
        </p>

        <p>
            <input type="submit" value="Search" class="btn btn-link" /> |
            <a asp-action="Index" class="btn btn-link">Back to all articles</a>
        </p>

    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]"
                   asp-route-fromDate="@ViewData["FromDate"]"
                   asp-route-toDate="@ViewData["ToDate"]">Published Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td><a href="@Html.DisplayFor(model => item.URL)" target="_blank">link</a></td>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>

        </tr>
}
    </tbody>
</table>
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var encoded = decodeURIComponent(window.location.search);
        var urlParams = new URLSearchParams(encoded);

        console.log(encoded);

        if (urlParams.has('FromDate') && urlParams.has('ToDate')) {
            console.log('in if..')

            var fromDate = urlParams.get('FromDate');
            var toDate = urlParams.get('ToDate');

            console.log(fromDate);
            console.log(toDate);

            $('#fromDate').val(fromDate);
            $('#toDate').val(toDate);

        } else if (urlParams.has('fromDate') && urlParams.has('toDate')) {
            console.log('in encoded if..')

            var fromDate = urlParams.get('fromDate');

            var date = new Date(fromDate);
            date.setTime(date.getTime() + 60 * 60000);

            console.log(date.toISOString());

            fromDate = date.toISOString().split('T')[0]

            var toDate = urlParams.get('toDate');
            date = new Date(toDate);
            date.setTime(date.getTime() + 60 * 60000);

            toDate = date.toISOString().split('T')[0]

            console.log(fromDate);
            console.log(toDate);

            $('#fromDate').val(fromDate);
            $('#toDate').val(toDate);
        }

        if (urlParams.has('Search')) {
            var search = urlParams.get('Search');
            $('Search').val(search);
        }

    });
</script>